<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<!-- namespace는 이 파일과 바인딩시킬 interface의 절대 주소 -->
<mapper namespace="dog.dao.DogMapper">

	<select id="selectAllDog" resultType="dog">
		SELECT *
		FROM dog
	</select>
	
</mapper>
